table {
  border-collapse: collapse;
  font-family: sans-serif;
}

caption {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: -1px;
}

.color-red {
  color: red;
}

td,
th,
caption {
  border: 1px solid black;
  padding: 10px;
}
